/* Sans serif theme SASS document */


@import ../base/variables

// Variables
$color-primary: #373737
$color-secondary: #636661

// Font loading
@font-face
  font-family: 'Assistant'
  src: url('/static/fonts/assistant/assistant-bold.woff2') format('woff2'), url('/static/fonts/assistant/assistant-bold.woff') format('woff')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Assistant'
  src: url('/static/fonts/assistant/assistant-regular.woff2') format('woff2'), url('/static/fonts/assistant/assistant-regular.woff') format('woff')
  font-weight: normal
  font-style: normal

// Styling
.theme-sans-serif
  color: $color-primary
  font-family: "Assistant", "Helvetica Neue", Helvetica, Arial, serif
  font-size: 16px
  line-height: 24px
  -webkit-font-smoothing: antialiased

  h1, .h1
    font-size: 1.75em
    line-height: 1.71428571em
    margin-top: 0.85714286em
    margin-bottom: 1.21428572em

  h2, .h2
    font-size: 1.4375em
    line-height: 1.04347826em
    margin-top: 1.04347826em
    margin-bottom: 1.04347826em

  h3, .h3
    font-size: 1.1875em
    line-height: 1.26315789em
    margin-top: 1.26315789em
    margin-bottom: 0em

  h4, .h4
    font-size: 1em
    line-height: 1.5em
    margin-top: 1.5em
    margin-bottom: 0em

  h5, .h5
    font-size: 1em
    line-height: 1.5em
    margin-top: 1.5em
    margin-bottom: 0em

  p, ul, ol, pre, table, blockquote
    margin-top: 0em
    margin-bottom: 1.5em

  ul ul, ol ol, ul ol, ol ul
    margin-top: 0em
    margin-bottom: 0em

  /* Let's make sure all's aligned */
  hr, .hr
    border: 1px solid
    margin: -1px 0

  a, b, i, strong, em, small, code
    line-height: 0

  sub, sup
    line-height: 0
    position: relative
    vertical-align: baseline

  sup
    top: -0.5em

  sub
    bottom: -0.25em

  // Tablet
  @media ($bp-larger-than-phablet)
    font-size: 19px
    line-height: 32.3px

    h1,
    h2,
    h3
      font-weight: bold

    h1
      margin-top: 0
      font-size: 42px
      line-height: 53px
      hyphens: auto
      -ms-hyphens: auto
      -webkit-hyphens: auto

    h4
      margin-bottom: 7px

    figcaption
      color: $color-secondary
      font-size: 17px
