/* Serif theme SASS document */


@import ../base/variables

// Variables
$color-primary: #373737
$color-secondary: #636661

// Font loading
@font-face
  font-family: 'Roboto Slab'
  src: url('/static/fonts/roboto-slab/roboto-slab-light.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto Slab'
  src: url('/static/fonts/roboto-slab/roboto-slab-bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal


// Styling
.theme-serif
  color: $color-primary
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif
  font-size: 16px
  line-height: 24px
  -webkit-font-smoothing: antialiased

  h1
    font-size: 1.75em
    line-height: 1.71428571em
    margin-top: 0.85714286em
    margin-bottom: 1.21428572em

  h2
    font-size: 1.4375em
    line-height: 1.04347826em
    margin-top: 1.04347826em
    margin-bottom: 1.04347826em

  h3
    font-size: 1.1875em
    line-height: 1.26315789em
    margin-top: 1.26315789em
    margin-bottom: 0em

  h4
    font-size: 1em
    line-height: 1.5em
    margin-top: 1.5em
    margin-bottom: 0em

  h5
    font-size: 1em
    line-height: 1.5em
    margin-top: 1.5em
    margin-bottom: 0em

  p, ul, ol, pre, table, blockquote
    margin-top: 0em
    margin-bottom: 1.5em

  ul ul, ol ol, ul ol, ol ul
    margin-top: 0em
    margin-bottom: 0em

  /* Let's make sure all's aligned */
  hr
    border: 1px solid
    margin: -1px 0

  a, b, i, strong, em, small, code
    line-height: 0

  sub, sup
    line-height: 0
    position: relative
    vertical-align: baseline

  sup
    top: -0.5em

  sub
    bottom: -0.25em

  // Tablet
  @media ($bp-larger-than-phablet)
    font-size: 19px
    line-height: 32.3px

    h1,
    h2,
    h3
      font-weight: bold

    h1
      margin-top: 15px
      font-size: 42px
      line-height: 53px
      hyphens: auto
      -ms-hyphens: auto
      -webkit-hyphens: auto

    h4
      margin-bottom: 10px

    figcaption
      color: $color-secondary
      font-style: italic
      text-align: center
