/* Header button close SASS document */


@import ../../base/variables


$size: 22px

.button-close
  width: $size
  height: $size
  background-color: $color-ui-background
  border-radius: 50%
  color: $color-menu-button-label
  line-height: $size
  box-shadow: $box-shadow

  .icon
    font-size: 10px

  &:hover
    background-color: $color-error
    color: white
    box-shadow: $box-shadowHover

  &:active
    box-shadow: $box-shadowActive
