/* Primary button SASS document */


@import ../../base/variables


.button-secondary
  width: 135px
  height: 35px
  background-color: $color-ui-background
  color: $color-menu-button-label
  border-radius: 4px
  box-shadow: $box-shadow

  &:hover
    background-color: #F5FDFF
    color: lighten($color-menu-button-label, 15%)
    box-shadow: $box-shadowHover

  &:active
    box-shadow: $box-shadowActive
