/* Primary button SASS document */


@import ../../base/variables

.button-primary
  width: 135px
  height: 35px
  background-color: $color-main
  color: white
  border: none
  border-radius: 4px
  box-shadow: $box-shadow

  &:hover
    color: white
    background-color: #51a7e0
    box-shadow: $box-shadowHover

  &:active
    box-shadow: $box-shadowActive
