/* Pill button SASS document */


@import ../../base/variables


$circle-size: 22px

.button-notification
  box-sizing: border-box
  display: inline-block
  margin: auto 5px auto 0
  padding: 4px
  font-size: 12px
  font-weight: bold
  text-transform: uppercase

  .circle
    display: inline-block
    width: $circle-size
    height: $circle-size
    margin-right: 5px
    background: $color-main
    color: white
    border-radius: 50%
    line-height: $circle-size
    text-align: center
    box-shadow: $box-shadow

    .icon
      font-size: 12px

  .title
    display: none

  .action
    display: none

  &:hover
    .circle
      box-shadow: $box-shadowHover

    .title,
    .action
      color: lighten($color-ui-text, 15%)

  &:active
    .circle
      box-shadow: $box-shadowActive


  // Phablet
  @media ($bp-larger-than-mobile)
    margin-right: 10px
    text-align: left

    .title
      display: initial
      font-size: 10px
      font-weight: normal

  // Tablet
  @media ($bp-larger-than-phablet)
    margin-right: 21px
    .title
      width: 100px
      margin-right: 15px

    .action
      display: initial
      width: 60px

  // Desktop Full HD
  @media ($bp-larger-than-desktophd)
    width: 200px


// Specific notification colors
.button-notification.grammar
  .circle
    background-color: $color-grammar

.button-notification.orthography
  .circle
    background-color: $color-orthography
