/* Button toolbar SASS document */


$button-size: 32px


.button-toolbar
  cursor: pointer
  width: $button-size
  height: $button-size
  padding: 0
  background-color: transparent
  border: none
  font-size: 25px
  color: #CCCCCC

  &.active,
  &:hover
    color: white

  .icon
    line-height: $button-size
