/* Menu button SASS document */


@import ../../base/variables

.button-menu
  $circle-size: 44px
  $color: $color-menu-button-label
  $colorHover: lighten($color-menu-button-label, 15%)
  $colorActive: $color

  margin: 0 40px 0 0
  color: $color
  font-size: 13px
  text-align: center
  transition: all 0.4s ease-in-out

  .circle
    display: block
    margin: 0 auto 4px
    width: $circle-size
    height: $circle-size
    background-color: $color
    color: white
    border-radius: 50%
    line-height: $circle-size
    box-shadow: $box-shadow

    .icon
      font-size: 21px

  &:last-child
    margin-right: 0

  &:hover
    color: $colorHover
    .circle
      background-color: $colorHover
      box-shadow: $box-shadowHover

  &:active,
  &.active
    .circle
      box-shadow: $box-shadowActive

// When the header shrinks
.menu-bar.shrink .button-menu
  $circle-size: 33px

  .circle
    width: $circle-size
    height: $circle-size
    line-height: $circle-size

    .icon
      font-size: 16px
