/* Theme button SASS document */


@import ../../base/variables

.button-theme
  box-sizing: border-box
  display: flex
  max-width: 100%
  height: 90px
  margin-left: 0
  margin-right: 0
  padding: 15px 15px 0
  background-size: cover
  background-position: center
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3)

  .title
    margin-top: 0
    color: white

  img
    object-fit: fill
    align-self: flex-end
    width: 100px
    height: 77px
    margin-right: 0
    border: solid 4px transparent
    border-radius: 4px 6px 0 0
    border-bottom: none

  span
    font-weight: bold
    color: white

  // Phablet
  @media ($bp-larger-than-mobile)
    flex-direction: column-reverse
    align-items: center
    height: auto
    padding-top: 5px

    img
      margin-right: 0


  // Tablet
  @media ($bp-larger-than-phablet)
    height: 90px
    flex-direction: row
    padding-top: 15px

    img
      margin-right: 15px

  &:hover
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3)

  &:active,
  &.active
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6)

  &:hover,
  &:active,
  &.active
    img
      border-color: $color-ui-text
