/* Base SASS document */


@import variables

body
  margin: 0
  padding: 0
  background-image: linear-gradient(-135deg, #FEFEFE 17%, #F8F8F8 100%)
  color: $color-ui-text
  font-family: $font-source-sans-pro
  font-size: 1rem
  line-height: 1.3125rem
  -webkit-font-smoothing: antialiased

#app
  display: flex
  height: 100vh

  .work-area
    flex: 1
    display: flex
    flex-direction: column
