/* Extras SASS document */
/* You can put unclassified classes here until they are refactored */


@import ../base/variables


// Utilities
.u-full-width
  width: 100% !important
  box-sizing: border-box !important


// To label the style guide elements
.style-guide
  max-width: 560px
  margin: 0 auto

span.title
  color: black
  font-size: 12px
  text-transform: uppercase

.responsive-debug
  background-color: lightcoral

  // Less than mobile
  @media (max-width: 320px)
    background-color: magenta

  // Phablet
  @media ($bp-larger-than-mobile)
    background-color: lightgreen

  // Tablet
  @media ($bp-larger-than-phablet)
    background-color: lightblue

  // Desktop
  @media ($bp-larger-than-tablet)
    background-color: #E74C3C

  // Desktop HD
  @media ($bp-larger-than-desktop)
    background-color: #2ECC71

  // Desktop Full HD
  @media ($bp-larger-than-desktophd)
    background-color: #1d6fa5


// Color classes
.background-blue
  background-color: $color-main

.background-yellow
  background-color: $color-orthography
  color: $color-ui-text !important

.background-turquoise
  background-color: $color-grammar
