/* Application system font SASS Document */
/* Note: Theme specific fonts are loaded on their respective SASS file */


//Imports
@font-face
  font-family: "Source Sans Pro"
  src: url("/static/fonts/source-sans-pro/source-sans-pro-regular.woff2") format("woff2"), url("/static/fonts/source-sans-pro/source-sans-pro-regular.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "icomoon"
  src: url("/static/fonts/icomoon/icomoon.woff") format("woff")
  font-weight: normal
  font-style: normal
