@charset "UTF-8";
/* Style SASS document */
/* Base SASS document */
/* Variables SASS document */
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-135deg, #FEFEFE 17%, #F8F8F8 100%);
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3125rem;
  -webkit-font-smoothing: antialiased; }

#app {
  display: flex;
  height: 100vh; }
  #app .work-area {
    flex: 1;
    display: flex;
    flex-direction: column; }

/* Extras SASS document */
/* You can put unclassified classes here until they are refactored */
/* Variables SASS document */
.u-full-width {
  width: 100% !important;
  box-sizing: border-box !important; }

.style-guide {
  max-width: 560px;
  margin: 0 auto; }

span.title {
  color: black;
  font-size: 12px;
  text-transform: uppercase; }

.responsive-debug {
  background-color: lightcoral; }
  @media (max-width: 320px) {
    .responsive-debug {
      background-color: magenta; } }
  @media (min-width: 400px) {
    .responsive-debug {
      background-color: lightgreen; } }
  @media (min-width: 550px) {
    .responsive-debug {
      background-color: lightblue; } }
  @media (min-width: 750px) {
    .responsive-debug {
      background-color: #E74C3C; } }
  @media (min-width: 1000px) {
    .responsive-debug {
      background-color: #2ECC71; } }
  @media (min-width: 1200px) {
    .responsive-debug {
      background-color: #1d6fa5; } }

.background-blue {
  background-color: #3498DB; }

.background-yellow {
  background-color: #F1C40F;
  color: #333333 !important; }

.background-turquoise {
  background-color: #1ABC9C; }

/* Application system font SASS Document */
/* Note: Theme specific fonts are loaded on their respective SASS file */
@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/fonts/source-sans-pro/source-sans-pro-regular.woff2") format("woff2"), url("/static/fonts/source-sans-pro/source-sans-pro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "icomoon";
  src: url("/static/fonts/icomoon/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Button SASS document */
/* Variables SASS document */
.button {
  box-sizing: border-box;
  margin-bottom: 21px;
  padding: 0;
  background: none;
  border-radius: 4px;
  border: none;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  user-select: none; }

/* Header button close SASS document */
/* Variables SASS document */
.button-close {
  width: 22px;
  height: 22px;
  background-color: #ECF0F1;
  border-radius: 50%;
  color: #7F8C8D;
  line-height: 22px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .button-close .icon {
    font-size: 10px; }
  .button-close:hover {
    background-color: #E74C3C;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .button-close:active {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6); }

/* Menu button SASS document */
/* Variables SASS document */
.button-menu {
  margin: 0 40px 0 0;
  color: #7F8C8D;
  font-size: 13px;
  text-align: center;
  transition: all 0.4s ease-in-out; }
  .button-menu .circle {
    display: block;
    margin: 0 auto 4px;
    width: 44px;
    height: 44px;
    background-color: #7F8C8D;
    color: white;
    border-radius: 50%;
    line-height: 44px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
    .button-menu .circle .icon {
      font-size: 21px; }
  .button-menu:last-child {
    margin-right: 0; }
  .button-menu:hover {
    color: #a7b0b1; }
    .button-menu:hover .circle {
      background-color: #a7b0b1;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .button-menu:active .circle, .button-menu.active .circle {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6); }

.menu-bar.shrink .button-menu .circle {
  width: 33px;
  height: 33px;
  line-height: 33px; }
  .menu-bar.shrink .button-menu .circle .icon {
    font-size: 16px; }

/* Primary button SASS document */
/* Variables SASS document */
.button-primary {
  width: 135px;
  height: 35px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .button-primary:hover {
    color: white;
    background-color: #51a7e0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .button-primary:active {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6); }

/* Primary button SASS document */
/* Variables SASS document */
.button-secondary {
  width: 135px;
  height: 35px;
  background-color: #ECF0F1;
  color: #7F8C8D;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .button-secondary:hover {
    background-color: #F5FDFF;
    color: #a7b0b1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .button-secondary:active {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6); }

/* Theme button SASS document */
/* Variables SASS document */
.button-theme {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  height: 90px;
  margin-left: 0;
  margin-right: 0;
  padding: 15px 15px 0;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); }
  .button-theme .title {
    margin-top: 0;
    color: white; }
  .button-theme img {
    object-fit: fill;
    align-self: flex-end;
    width: 100px;
    height: 77px;
    margin-right: 0;
    border: solid 4px transparent;
    border-radius: 4px 6px 0 0;
    border-bottom: none; }
  .button-theme span {
    font-weight: bold;
    color: white; }
  @media (min-width: 400px) {
    .button-theme {
      flex-direction: column-reverse;
      align-items: center;
      height: auto;
      padding-top: 5px; }
      .button-theme img {
        margin-right: 0; } }
  @media (min-width: 550px) {
    .button-theme {
      height: 90px;
      flex-direction: row;
      padding-top: 15px; }
      .button-theme img {
        margin-right: 15px; } }
  .button-theme:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); }
  .button-theme:active, .button-theme.active {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6); }
  .button-theme:hover img, .button-theme:active img, .button-theme.active img {
    border-color: #333333; }

/* Pill button SASS document */
/* Variables SASS document */
.button-notification {
  box-sizing: border-box;
  display: inline-block;
  margin: auto 5px auto 0;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }
  .button-notification .circle {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background: #3498DB;
    color: white;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
    .button-notification .circle .icon {
      font-size: 12px; }
  .button-notification .title {
    display: none; }
  .button-notification .action {
    display: none; }
  .button-notification:hover .circle {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .button-notification:hover .title,
  .button-notification:hover .action {
    color: #595959; }
  .button-notification:active .circle {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6); }
  @media (min-width: 400px) {
    .button-notification {
      margin-right: 10px;
      text-align: left; }
      .button-notification .title {
        display: initial;
        font-size: 10px;
        font-weight: normal; } }
  @media (min-width: 550px) {
    .button-notification {
      margin-right: 21px; }
      .button-notification .title {
        width: 100px;
        margin-right: 15px; }
      .button-notification .action {
        display: initial;
        width: 60px; } }
  @media (min-width: 1200px) {
    .button-notification {
      width: 200px; } }

.button-notification.grammar .circle {
  background-color: #1ABC9C; }

.button-notification.orthography .circle {
  background-color: #F1C40F; }

/* Button toolbar SASS document */
.button-toolbar {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #CCCCCC; }
  .button-toolbar.active, .button-toolbar:hover {
    color: white; }
  .button-toolbar .icon {
    line-height: 32px; }

/* Chat bubble SASS document */
/* Variables SASS document */
.chat-bubble {
  min-width: 90px;
  max-width: 180px;
  margin-bottom: 15px; }
  .chat-bubble .chat-item {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background-color: #EBEBEB;
    text-align: center; }

/* Chat bubble question  SASS document */
/* Variables SASS document */
.chat-bubble.chat-bubble-question {
  align-self: flex-start; }
  .chat-bubble.chat-bubble-question .chat-item:first-child {
    border-radius: 0 20px 0 0; }
  .chat-bubble.chat-bubble-question .chat-item:last-child {
    border-radius: 0 0 20px 20px; }
  .chat-bubble.chat-bubble-question .chat-item:only-child {
    border-radius: 0 20px 20px 20px; }

/* Chat bubble question  SASS document */
/* Variables SASS document */
.chat-bubble.chat-bubble-answer {
  align-self: flex-end; }
  .chat-bubble.chat-bubble-answer .chat-item {
    background-color: transparent;
    color: #3498DB;
    border: solid 1px #3498DB; }
  .chat-bubble.chat-bubble-answer .chat-item.selected {
    background-color: #3498DB;
    color: white; }
  .chat-bubble.chat-bubble-answer .chat-item:first-child {
    border-radius: 20px 20px 0 0; }
  .chat-bubble.chat-bubble-answer .chat-item:last-child {
    border-radius: 0 0 0 20px; }
  .chat-bubble.chat-bubble-answer .chat-item:only-child {
    border-radius: 20px 20px 0 20px; }
  .chat-bubble.chat-bubble-answer:last-child {
    margin-bottom: 30px; }

/* QuillIcons SASS document */
/* Variables SASS document */
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle; }

.icon-bold:before {
  content: ""; }

.icon-italic:before {
  content: ""; }

.icon-paragraph:before {
  content: ""; }

.icon-subtitle:before {
  content: ""; }

.icon-super:before {
  content: ""; }

.icon-title:before {
  content: ""; }

.icon-theme:before {
  content: ""; }

.icon-image:before {
  content: ""; }

.icon-printer:before {
  content: ""; }

.icon-quotes-right:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-list-numbered:before {
  content: ""; }

.icon-list-bullet:before {
  content: ""; }

.icon-attachment:before {
  content: ""; }

.icon-cross:before {
  content: ""; }

.icon-table:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

/* Image container SASS document */
.image-container {
  margin-left: 0;
  margin-right: 0; }
  .image-container img {
    max-width: 100%;
    height: auto; }

/* Text errors SASS document */
/* Variables SASS document */
.text-correction {
  cursor: pointer; }

.text-correction.grammar {
  background-color: #dbfaf4; }

.text-correction.orthography {
  text-decoration: underline;
  text-decoration-style: wavy;
  -webkit-text-decoration-style: wavy;
  text-decoration-color: #F1C40F;
  -webkit-text-decoration-color: #F1C40F; }

/* Toolbar SASS document */
.toolbar {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 4px 14px;
  background-color: #444444;
  border-radius: 500px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33); }
  .toolbar .format,
  .toolbar .hierarchy {
    text-align: center; }
  .toolbar [x-arrow] {
    background-color: #444444; }

/* Typography SASS document */
/* This document only style text outside the work_area, for work_area specific content check the thremes folder */
h1 {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-top: 0.75rem;
  margin-bottom: 1.5em; }

h2 {
  font-size: 1.4375rem;
  line-height: 1.82608696;
  margin-top: 0.91304348em;
  margin-bottom: 0.91304348em; }

h3 {
  font-size: 1.1875rem;
  line-height: 1.10526316;
  margin-top: 1.10526316em;
  margin-bottom: 0; }

h4 {
  font-size: 1rem;
  line-height: 1.3125;
  margin-top: 1.3125em;
  margin-bottom: 0; }

h5 {
  font-size: 1rem;
  line-height: 1.3125;
  margin-top: 1.3125em;
  margin-bottom: 0; }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.3125em; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

/* Let's make sure all's aligned */
hr {
  border: 1px solid;
  margin: -1px 0; }

a, b, i, strong, em, small, code {
  line-height: 0; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

p.big {
  font-size: 19px; }

/* Menu bar SASS document */
/* Variables SASS document */
.menu-bar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #333333;
  transition: all 0.4s ease-in-out; }

.shrink {
  height: 70px; }

/* Option panel SASS document */
/* Variables SASS document */
.panel {
  display: flex;
  width: 320px;
  flex-direction: column;
  background-color: white;
  border-left: solid 1px #EBEBEB; }
  @media (min-width: 400px) {
    .panel {
      width: 50%; } }
  @media (min-width: 550px) {
    .panel {
      width: 320px; } }

/* Option panel footer SASS document */
/* Variables SASS document */
.panel footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top: solid 1px #ECF0F1; }
  .panel footer * {
    margin-bottom: 0; }

/* Option panel header SASS document */
/* Variables SASS document */
.panel header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-size: 50%;
  background-repeat: repeat;
  color: white;
  user-select: none; }
  .panel header .button-close {
    position: absolute;
    top: 10px;
    left: 10px; }
  .panel header .name,
  .panel header .job {
    cursor: default; }
  .panel header .name {
    margin: 0;
    font-size: 18px; }
  .panel header .job {
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase; }
  .panel header .picture {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto; }

.panel header.shrink {
  height: 60px;
  background: none; }
  .panel header.shrink .button-close {
    top: 19px; }
  .panel header.shrink .name {
    flex-direction: row;
    font-size: 24px;
    color: #333333; }
  .panel header.shrink .job {
    display: none; }

/* Option panel SASS document */
/* Variables SASS document */
.panel section {
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px; }
  .panel section * {
    flex-shrink: 0; }

/* Content SASS document */
/* Variables SASS document */
.text-editor {
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10%; }
  @media (min-width: 750px) {
    .text-editor {
      max-width: 702px;
      padding: 40px 74px; } }

.content-editable {
  outline: none; }

.content-editable:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
  display: block; }

/* Quill editor override styles SASS document */
.ql-container {
  font-family: inherit;
  font-size: inherit; }
  .ql-container .ql-editor {
    padding: inherit;
    outline: none; }
  .ql-container .ql-editor.ql-blank::before {
    position: absolute;
    left: initial;
    right: initial;
    font-style: inherit; }

/* Sans serif theme SASS document */
/* Variables SASS document */
@font-face {
  font-family: "Playfair Display";
  src: url("/static/fonts/playfair-display/playfair-display-bold.woff2") format("woff2"), url("/static/fonts/playfair-display/playfair-display-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Playfair Display";
  src: url("/static/fonts/playfair-display/playfair-display-bolditalic.woff2") format("woff2"), url("/static/fonts/playfair-display/playfair-display-bolditalic.woff2") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/raleway/raleway-regular.woff2") format("woff2"), url("/static/fonts/raleway/raleway-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/raleway/raleway-italic.woff2") format("woff2"), url("/static/fonts/raleway/raleway-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/raleway/raleway-bold.woff2") format("woff2"), url("/static/fonts/raleway/raleway-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/raleway/raleway-bolditalic.woff2") format("woff2"), url("/static/fonts/raleway/raleway-bolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
.theme-mix {
  color: #373737;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  /* Let's make sure all's aligned */ }
  .theme-mix h1, .theme-mix h2, .theme-mix h3, .theme-mix h4, .theme-mix h5, .theme-mix h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif; }
  .theme-mix h1, .theme-mix .h1 {
    font-size: 1.75em;
    line-height: 1.71428571em;
    margin-top: 0.85714286em;
    margin-bottom: 1.21428572em; }
  .theme-mix h2, .theme-mix .h2 {
    font-size: 1.4375em;
    line-height: 1.04347826em;
    margin-top: 1.04347826em;
    margin-bottom: 1.04347826em; }
  .theme-mix h3, .theme-mix .h3 {
    font-size: 1.1875em;
    line-height: 1.26315789em;
    margin-top: 1.26315789em;
    margin-bottom: 0em; }
  .theme-mix h4, .theme-mix .h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em; }
  .theme-mix h5, .theme-mix .h5 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em; }
  .theme-mix p, .theme-mix ul, .theme-mix ol, .theme-mix pre, .theme-mix table, .theme-mix blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em; }
  .theme-mix ul ul, .theme-mix ol ol, .theme-mix ul ol, .theme-mix ol ul {
    margin-top: 0em;
    margin-bottom: 0em; }
  .theme-mix hr, .theme-mix .hr {
    border: 1px solid;
    margin: -1px 0; }
  .theme-mix a, .theme-mix b, .theme-mix i, .theme-mix strong, .theme-mix em, .theme-mix small, .theme-mix code {
    line-height: 0; }
  .theme-mix sub, .theme-mix sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .theme-mix sup {
    top: -0.5em; }
  .theme-mix sub {
    bottom: -0.25em; }
  @media (min-width: 550px) {
    .theme-mix {
      font-size: 19px;
      line-height: 32.3px; }
      .theme-mix h1,
      .theme-mix h2,
      .theme-mix h3 {
        font-weight: bold; }
      .theme-mix h1 {
        margin-top: 0;
        font-size: 42px;
        line-height: 53px;
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto; }
      .theme-mix h4 {
        margin-bottom: 7px; }
      .theme-mix figcaption {
        color: #636661;
        font-size: 17px; } }

/* Sans serif theme SASS document */
/* Variables SASS document */
@font-face {
  font-family: "Assistant";
  src: url("/static/fonts/assistant/assistant-bold.woff2") format("woff2"), url("/static/fonts/assistant/assistant-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Assistant";
  src: url("/static/fonts/assistant/assistant-regular.woff2") format("woff2"), url("/static/fonts/assistant/assistant-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.theme-sans-serif {
  color: #373737;
  font-family: "Assistant", "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  /* Let's make sure all's aligned */ }
  .theme-sans-serif h1, .theme-sans-serif .h1 {
    font-size: 1.75em;
    line-height: 1.71428571em;
    margin-top: 0.85714286em;
    margin-bottom: 1.21428572em; }
  .theme-sans-serif h2, .theme-sans-serif .h2 {
    font-size: 1.4375em;
    line-height: 1.04347826em;
    margin-top: 1.04347826em;
    margin-bottom: 1.04347826em; }
  .theme-sans-serif h3, .theme-sans-serif .h3 {
    font-size: 1.1875em;
    line-height: 1.26315789em;
    margin-top: 1.26315789em;
    margin-bottom: 0em; }
  .theme-sans-serif h4, .theme-sans-serif .h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em; }
  .theme-sans-serif h5, .theme-sans-serif .h5 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em; }
  .theme-sans-serif p, .theme-sans-serif ul, .theme-sans-serif ol, .theme-sans-serif pre, .theme-sans-serif table, .theme-sans-serif blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em; }
  .theme-sans-serif ul ul, .theme-sans-serif ol ol, .theme-sans-serif ul ol, .theme-sans-serif ol ul {
    margin-top: 0em;
    margin-bottom: 0em; }
  .theme-sans-serif hr, .theme-sans-serif .hr {
    border: 1px solid;
    margin: -1px 0; }
  .theme-sans-serif a, .theme-sans-serif b, .theme-sans-serif i, .theme-sans-serif strong, .theme-sans-serif em, .theme-sans-serif small, .theme-sans-serif code {
    line-height: 0; }
  .theme-sans-serif sub, .theme-sans-serif sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .theme-sans-serif sup {
    top: -0.5em; }
  .theme-sans-serif sub {
    bottom: -0.25em; }
  @media (min-width: 550px) {
    .theme-sans-serif {
      font-size: 19px;
      line-height: 32.3px; }
      .theme-sans-serif h1,
      .theme-sans-serif h2,
      .theme-sans-serif h3 {
        font-weight: bold; }
      .theme-sans-serif h1 {
        margin-top: 0;
        font-size: 42px;
        line-height: 53px;
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto; }
      .theme-sans-serif h4 {
        margin-bottom: 7px; }
      .theme-sans-serif figcaption {
        color: #636661;
        font-size: 17px; } }

/* Serif theme SASS document */
/* Variables SASS document */
@font-face {
  font-family: "Roboto Slab";
  src: url("/static/fonts/roboto-slab/roboto-slab-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto Slab";
  src: url("/static/fonts/roboto-slab/roboto-slab-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
.theme-serif {
  color: #373737;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  /* Let's make sure all's aligned */ }
  .theme-serif h1 {
    font-size: 1.75em;
    line-height: 1.71428571em;
    margin-top: 0.85714286em;
    margin-bottom: 1.21428572em; }
  .theme-serif h2 {
    font-size: 1.4375em;
    line-height: 1.04347826em;
    margin-top: 1.04347826em;
    margin-bottom: 1.04347826em; }
  .theme-serif h3 {
    font-size: 1.1875em;
    line-height: 1.26315789em;
    margin-top: 1.26315789em;
    margin-bottom: 0em; }
  .theme-serif h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em; }
  .theme-serif h5 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em; }
  .theme-serif p, .theme-serif ul, .theme-serif ol, .theme-serif pre, .theme-serif table, .theme-serif blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em; }
  .theme-serif ul ul, .theme-serif ol ol, .theme-serif ul ol, .theme-serif ol ul {
    margin-top: 0em;
    margin-bottom: 0em; }
  .theme-serif hr {
    border: 1px solid;
    margin: -1px 0; }
  .theme-serif a, .theme-serif b, .theme-serif i, .theme-serif strong, .theme-serif em, .theme-serif small, .theme-serif code {
    line-height: 0; }
  .theme-serif sub, .theme-serif sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .theme-serif sup {
    top: -0.5em; }
  .theme-serif sub {
    bottom: -0.25em; }
  @media (min-width: 550px) {
    .theme-serif {
      font-size: 19px;
      line-height: 32.3px; }
      .theme-serif h1,
      .theme-serif h2,
      .theme-serif h3 {
        font-weight: bold; }
      .theme-serif h1 {
        margin-top: 15px;
        font-size: 42px;
        line-height: 53px;
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto; }
      .theme-serif h4 {
        margin-bottom: 10px; }
      .theme-serif figcaption {
        color: #636661;
        font-style: italic;
        text-align: center; } }

/*# sourceMappingURL=style.css.map */
