<template>
  <div class="panel">
    <!-- Header -->
    <PanelHeader v-bind:attributes="headerAttributes" @closeEmit="closeEmitter"/>

    <!-- Section -->
    <section>
      <!-- Dialog -->
      <div class="chat-bubble chat-bubble-question">
        <p class="chat-item">{{sectionAttributes.dialog}}</p>
      </div>

      <!-- Buttons -->
      <button v-for="item in ThemeStore.items"
              :key=item.id
              v-on:click="setTheme(item.theme)"
              :style="{ 'background-image': 'url(' + item.background + ')' }"
              :class="[item.theme, (item.theme === ThemeStore.selectedTheme) ? 'active' : '']"
              class="button button-theme">
        <img :src="item.image">
          <h5 class="title">{{item.label}}</h5>
      </button>
    </section>
  </div>
</template>

<script>
  import ThemeStore from '../../../stores/panel_container/ThemeStore'
  import PanelHeader from "../PanelHeader"

  export default {
    name: "ThemePanel",
    data: function () {
      return {
        headerAttributes: {
          name: "Paula",
          job: "Diseñadora gráfica",
          picture: require("../../../assets/images/panel/paula-avatar-medium.png"),
          backgroundColor: 'background-yellow'
        },
        sectionAttributes: {
          dialog: "¡Hola Eduardo! Usemos uno de estos diseños"
        },
        footerAttributes: {
          buttonLabel: ""
        },
        ThemeStore: ThemeStore.data
      }
    },
    components: {
      PanelHeader
    },
    methods: {
      closeEmitter() {
        this.$emit('closeEmit')
      },
      setTheme(theme) {
        ThemeStore.methods.setTheme(theme)
      }
    }
  }
</script>

<style scoped>

</style>
