<template>
  <footer>
    <button class="button button-primary">{{attributes.buttonLabel}}</button>
  </footer>
</template>

<script>
  export default {
    name: "PanelFooter",
    props: ['attributes']
  }
</script>

<style scoped>

</style>
