<template>
  <header :class="attributes.backgroundColor">
    <button class="button button-close" v-on:click="closeEmitter">
      <span class="icon icon-cross"></span>
    </button>
    <h1 class="name">{{attributes.name}}</h1>
    <h2 class="job">{{attributes.job}}</h2>
    <img class="picture" :src="attributes.picture"/>
  </header>
</template>

<script>
  export default {
    name: 'PanelHeader',
    props: ['attributes'],
    methods: {
      closeEmitter() {
        this.$emit('closeEmit');
      }
    }
  }
</script>

<style scoped>

</style>
