<template>
  <div ref="contentEditable"
      v-on:click="onEditorChange"
      v-on:keyup="onEditorChange"
      v-on:keydown.space="onKeyPressSpace"
      v-on:keydown.enter="onKeyPressEnter"
      contenteditable="true"
      class="content-editable">
      <h1 class="placeholder" :placeholder="TextEditorStore.contentEditable.placeholder"></h1>
  </div>
</template>

<script>
import WritingRules from "../../js/WritingRules";
import ContentEditableSelection from "../../js/content-editable/ContentEditableSelection";
import TextEditorStore from "../../stores/TextEditorStore";

export default {
  data: () => ({
    TextEditorStore: TextEditorStore.data
  }),
  methods: {
    onEditorChange: function(event) {
      this.$refs.contentEditableSelection.event = event;

      this.TextEditorStore.selection = this.$refs.contentEditableSelection.selection;
      this.TextEditorStore.node = this.$refs.contentEditableSelection.node;

      this.$refs.writingRules.headingLength();
    },
    onKeyPressSpace(evnet) {
      if (this.$refs.writingRules.horizotnalSpace()) {
        event.preventDefault();
      }
    },
    onKeyPressEnter() {
      if (this.$refs.writingRules.verticalSpaceDocumentTitle()) {
        event.preventDefault();
      }
    }
  },
  mounted: function() {
    // Instantiation
    this.$refs.writingRules = new WritingRules();
    this.$refs.contentEditableSelection = new ContentEditableSelection(
      this.$refs.contentEditable
    );
    this.$refs.writingRules = new WritingRules();

    // Listeners

    // Actions
    this.$refs.contentEditable.focus();
  }
};
</script>

<style scoped>
.placeholder:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}
</style>
