<template>
  <div id="quillView" class="quill-view">
    <!-- Debug text-->
    <div v-if="TextEditorStore.debug">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Nec nam aliquam sem et
        tortor consequat. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Neque convallis a
        cras semper auctor neque. Id donec ultrices tincidunt arcu non sodales. Tortor posuere ac ut consequat.
        Dictum at tempor commodo ullamcorper. Est lorem ipsum dolor sit amet consectetur adipiscing. At augue
        eget arcu dictum varius. Urna et pharetra pharetra massa massa ultricies mi quis. Tincidunt lobortis
        feugiat vivamus at augue eget arcu dictum. Ut etiam sit amet nisl purus in mollis nunc. Aliquam etiam
        erat velit scelerisque in. Eu turpis egestas pretium aenean pharetra. Sed lectus vestibulum mattis
        ullamcorper velit sed.
      </p>
      <p class="myP">
        Risus nec feugiat in fermentum. Gravida arcu ac tortor dignissim convallis aenean et tortor. Cursus
        euismod quis viverra nibh cras. Eget nullam non nisi est sit amet facilisis magna. Pellentesque sit amet
        porttitor eget. Magna sit amet purus gravida quis blandit turpis. Sed cras ornare arcu dui vivamus arcu
        felis bibendum ut. Diam maecenas ultricies mi eget mauris pharetra et ultrices neque. Diam maecenas
        ultricies mi eget mauris pharetra. A lacus vestibulum sed arcu non odio euismod lacinia. Nisl rhoncus
        mattis rhoncus urna neque viverra justo. Facilisi etiam dignissim diam quis enim lobortis scelerisque.
        Mi proin sed libero enim sed faucibus. Ipsum consequat nisl vel pretium lectus quam id leo in. Justo
        donec enim diam vulputate ut. Et ligula ullamcorper malesuada proin. Sagittis id consectetur purus ut
        faucibus pulvinar elementum integer enim. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum.
        Pellentesque sit amet porttitor eget dolor morbi non.
      </p>
      <p>
        Justo laoreet sit amet cursus sit amet dictum sit. Turpis in eu mi bibendum neque. Turpis massa sed
        elementum tempus. Sodales ut eu sem integer vitae justo eget magna. In arcu cursus euismod quis viverra
        nibh cras. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Sed pulvinar proin
        gravida hendrerit lectus a. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Dignissim
        convallis aenean et tortor at risus viverra adipiscing at. Leo duis ut diam quam.
      </p>
      <p>
        Ut tristique et egestas quis. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus
        pellentesque. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Id volutpat lacus
        laoreet non curabitur gravida arcu. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget
        gravida. Tristique et egestas quis ipsum suspendisse ultrices. Viverra maecenas accumsan lacus vel
        facilisis volutpat est velit. Augue neque gravida in fermentum et sollicitudin ac. Morbi tristique
        senectus et netus et. Tortor at risus viverra adipiscing. Quis blandit turpis cursus in. Egestas sed sed
        risus pretium quam vulputate dignissim. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar
        elementum. Semper auctor neque vitae tempus quam. Arcu risus quis varius quam quisque. Donec ultrices
        tincidunt arcu non sodales neque sodales.
      </p>
      <p>
        Varius duis at consectetur lorem donec massa. Malesuada nunc vel risus commodo viverra maecenas accumsan
        lacus. Molestie a iaculis at erat. Rutrum quisque non tellus orci ac auctor augue mauris. Velit euismod
        in pellentesque massa placerat duis ultricies lacus sed. Amet porttitor eget dolor morbi non arcu risus
        quis. Ultrices sagittis orci a scelerisque purus. Porttitor leo a diam sollicitudin tempor. Metus
        aliquam eleifend mi in. Auctor eu augue ut lectus arcu. Eget lorem dolor sed viverra ipsum. Pharetra
        pharetra massa massa ultricies mi quis hendrerit dolor magna. Quis vel eros donec ac odio. Nunc id
        cursus metus aliquam eleifend mi.
      </p>
      <p>
        We believe in creating easy to learn apps, designed for the kids raised in extreme poverty joining our
        school system, that never used a computer before.
      </p>
      <p>
        The government of Ecuador will design and develop a word processing and a presentation app for our
        school system. The government of Ecuador will design and develop a word processing and a presentation
        app for our school system. The government of Ecuador will design and develop a word processing and a
        presentation app for our school system.
      </p>
      <p>
        We believe in creating easy to learn apps, designed for the kids raised in extreme poverty joining our
        school system, that never used a computer before.
      </p>
      <p>
        The government of Ecuador will design and develop a word processing and a presentation app for our
        school system. The government of Ecuador will design and develop a word processing and a presentation
        app for our school system. The government of Ecuador will design and develop a word processing and a
        presentation app for our school system.
      </p>
    </div>
  </div>
</template>

<script>
import "quill/dist/quill.bubble.css";
import "../../assets/css/quill.bubble.custom.css";
import Quill from "quill";
import QuillIcons from "../../js/quill/QuillIcons";
import QuillSelection from "../../js/quill/QuillSelection";
import TextEditorStore from "../../stores/TextEditorStore";
import WritingRules from "../../js/WritingRules";

export default {
  data: () => ({
    TextEditorStore: TextEditorStore.data
  }),
  methods: {
    onEditorChange() {
      this.TextEditorStore.selection = this.$refs.quillSelection.selection;
      this.TextEditorStore.node = this.$refs.quillSelection.node;

      this.$refs.writingRules.headingLength();
    },
    onKeyPressSpace(event) {    
      if(!this.$refs.writingRules.horizotnalSpace()) {
        // nullify the prevent default that Quill trigger on key binding
        return true;
      }

    }
  },
  mounted() {
    // Variables
    const quillView = document.getElementById("quillView");
    const Keyboard = Quill.import("modules/keyboard");

    // Instantiation
    new QuillIcons();
    this.$refs.quillModel = new Quill(
      quillView,
      this.TextEditorStore.quill.parameters
    );
    this.$refs.quillSelection = new QuillSelection(this.$refs.quillModel);
    this.$refs.writingRules = new WritingRules();

    // Listeners
    this.$refs.quillModel.on("editor-change", this.onEditorChange);
    this.$refs.quillModel.keyboard.addBinding(
      { key: " " },
      this.onKeyPressSpace
    );

    // Actions
    this.$refs.quillModel.focus();
  }
};
</script>

<style scoped>

</style>
