<template>
  <div class="pop" role="tooltip">
    <div v-show="TextEditorStore.selection.unit !== TextEditorStore.unitList.block" class="format">
      <button class="button-toolbar ql-bold"></button>
      <button class="button-toolbar ql-italic"></button>
      <button class="button-toolbar ql-script" value="super"></button>
    </div>
    <div v-show="TextEditorStore.selection.unit === TextEditorStore.unitList.block" class="hierarchy">
      <button class="button-toolbar ql-header" value="2"></button>
      <button class="button-toolbar ql-header" value="3"></button>
      <button class="button-toolbar ql-clean"></button>
      <button class="button-toolbar ql-list" value="bullet"></button>
      <button class="button-toolbar ql-list" value="ordered"></button>
    </div>
  </div>
</template>

<script>
  import TextEditorStore from '../../stores/TextEditorStore'

  export default {
    data: () => ({
      TextEditorStore: TextEditorStore.data
    })
  }
</script>

<style scoped>

</style>
