/* Quill editor override styles SASS document */


.ql-container
  font-family: inherit
  font-size: inherit

  .ql-editor
    padding: inherit
    outline: none
    min-height: 320px

  .ql-editor.ql-blank::before
    position: absolute
    left: initial
    right: initial
    font-style: inherit
