/* Option panel footer SASS document */


@import ../../base/variables


.panel footer
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center
  padding: 10px
  background-color: white
  border-top: solid 1px $color-ui-background

  *
    margin-bottom: 0