/* Option panel header SASS document */


@import ../../base/variables


.panel header
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 160px
  background-size: 50%
  background-repeat: repeat
  color: white
  user-select: none

  .button-close
    position: absolute
    top: 10px
    left: 10px

  .name,
  .job
    cursor: default

  .name
    margin: 0
    font-size: 18px

  .job
    margin: 0
    font-size: 12px
    font-weight: lighter
    text-transform: uppercase

  .picture
    display: block
    margin: 0 auto
    width: 100px
    height: auto

.panel header.shrink
  height: 60px
  background: none

  .button-close
    top: 19px

  .name
    flex-direction: row
    font-size: 24px
    color: $color-ui-text

  .job
    display: none
