/* Option panel SASS document */


@import ../../base/variables

.panel section
  box-sizing: border-box
  overflow: auto
  display: flex
  flex: 1
  flex-direction: column
  padding: 20px

  *
    flex-shrink: 0 // avoid any children to shrink trying to appear inside the available height