/*!
 * Quill Editor v1.3.5
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  margin: 0;
  position: relative;
}

.ql-bubble.ql-toolbar button,
.ql-bubble .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 32px;
  padding: 0;
  width: 32px;
  font-size: 13px;
  margin: 4px 7px;
}

.ql-tooltip {
  width: auto !important;
}

.ql-bubble.ql-toolbar button:first-child,
.ql-bubble .ql-toolbar button:first-child {
  margin-left: 14px;
}

.ql-bubble.ql-toolbar button:last-child,
.ql-bubble .ql-toolbar button:last-child {
  margin-right: 14px;
}
