<template>
  <header class="menu-bar"
          :class="(TextEditorStore.scrolled ? 'shrink' : '')">
    <button v-for="item in MenuBarStore.items"
            :key=item.id
            v-on:click="setPanel(item.panel)"
            :class="(item.panel === PanelContainerStore.currentPanel ? 'active' : '')"
            class="button button-menu">
      <span class="circle">
        <span :class="['icon', item.icon]"></span>
      </span>
      {{item.label}}
    </button>
  </header>
</template>

<script>
  import MenuBarStore from '../stores/MenuBarStore'
  import PanelContainerStore from '../stores/PanelContainerStore'
  import TextEditorStore from '../stores/TextEditorStore'

  export default {
    data: () => ({
      MenuBarStore: MenuBarStore.data,
      PanelContainerStore: PanelContainerStore.data,
      TextEditorStore: TextEditorStore.data
    }),
    methods: {
      setPanel(panel) {
        if (panel === PanelContainerStore.data.currentPanel) {
          PanelContainerStore.methods.closePanel()
        }
        else {
          PanelContainerStore.methods.setPanel(panel)
        }
      },
    }
  }
</script>

<style scoped>

</style>
