<template>
  <component :is="PanelContainerStore.currentPanel" @closeEmit="closePanel"/>
</template>

<script>
  import ThemePanel from './panel_container/custom_panels/ThemePanel'
  import PanelContainerStore from '../stores/PanelContainerStore'

  export default {
    components: {
      ThemePanel
    },
    data: () => ({
      PanelContainerStore: PanelContainerStore.data
    }),
    methods: {
      closePanel() {
        PanelContainerStore.methods.closePanel();
      }
    }
  }
</script>

<style scoped>

</style>
