<template>
  <section class="text-editor" v-on:scroll="onScroll">
    <div :class="['page', ThemeStore.selectedTheme]">
      <ContentEditable/>
      <Quill/>
    </div>
    <Toolbar/>
  </section>
</template>

<script>
import Quill from "./text_editor/Quill";
import ContentEditable from "./text_editor/ContentEditable";
import Toolbar from "./text_editor/Toolbar";
import TextEditorStore from "../stores/TextEditorStore";
import ThemeStore from "../stores/panel_container/ThemeStore";

export default {
  components: {
    Quill,
    ContentEditable,
    Toolbar
  },
  data: () => ({
    ThemeStore: ThemeStore.data,
    TextEditorStore: TextEditorStore.data
  }),
  methods: {
    onScroll: function(event) {
      console.log("event.target.scrollTop");

      this.TextEditorStore.scrolled = event.target.scrollTop > 100;
    }
  }
};
</script>

<style scoped>

</style>
