/* Button SASS document */


@import ../base/variables


.button
  box-sizing: border-box
  margin-bottom: 21px
  padding: 0
  background: none
  border-radius: 4px
  border: none
  color: $color-ui-text
  font-family: $font-source-sans-pro
  font-size: 16px
  cursor: pointer
  user-select: none
