/* Chat bubble SASS document */


@import ../base/variables

$color-bubble-background: #EBEBEB

.chat-bubble
  min-width: 90px
  max-width: 180px
  margin-bottom: 15px

  .chat-item
    box-sizing: border-box
    width: 100%
    margin: 0
    padding: 5px 10px
    background-color: $color-bubble-background
    text-align: center