/* Icons SASS document */


@import ../base/variables

[class^="icon-"],
[class*=" icon-"]
  font-family: $font-icomoon
  speak: none
  font-size: 2rem
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  vertical-align: middle

.icon-bold:before
  content: "\e900"

.icon-italic:before
  content: "\e901"

.icon-paragraph:before
  content: "\e902"

.icon-subtitle:before
  content: "\e903"

.icon-super:before
  content: "\e904"

.icon-title:before
  content: "\e905"

.icon-theme:before
  content: "\e90c"

.icon-image:before
  content: "\e90d"

.icon-printer:before
  content: "\e954"

.icon-quotes-right:before
  content: "\e978"

.icon-search:before
  content: "\e986"

.icon-list-numbered:before
  content: "\e9b9"

.icon-list-bullet:before
  content: "\e9bb"

.icon-attachment:before
  content: "\e9cd"

.icon-cross:before
  content: "\ea0f"

.icon-table:before
  content: "\ea70"

.icon-youtube:before
  content: "\ea9d"
