/* Text errors SASS document */


@import ../base/variables


// Note 1: Prefix for Safari 10.1 thorough 11


.text-correction
  cursor: pointer

.text-correction.grammar
  background-color: lighten($color-grammar, 50%)

.text-correction.orthography
  text-decoration: underline // basic style
  text-decoration-style: wavy
  -webkit-text-decoration-style: wavy // note 1
  text-decoration-color: $color-orthography
  -webkit-text-decoration-color: $color-orthography  // note 1