/* Toolbar SASS document */

.toolbar
  flex: 1
  box-sizing: border-box
  display: flex
  justify-content: space-around
  padding: 4px 14px
  background-color: #444444
  border-radius: 500px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33)

  .format,
  .hierarchy
    text-align: center

  [x-arrow]
    background-color: #444444
