/* Typography SASS document */
/* This document only style text outside the work_area, for work_area specific content check the thremes folder */


h1
  font-size: 1.75rem
  line-height: 1.5
  margin-top: 0.75rem
  margin-bottom: 1.5em

h2
  font-size: 1.4375rem
  line-height: 1.82608696
  margin-top: 0.91304348em
  margin-bottom: 0.91304348em

h3
  font-size: 1.1875rem
  line-height: 1.10526316
  margin-top: 1.10526316em
  margin-bottom: 0

h4
  font-size: 1rem
  line-height: 1.3125
  margin-top: 1.3125em
  margin-bottom: 0

h5
  font-size: 1rem
  line-height: 1.3125
  margin-top: 1.3125em
  margin-bottom: 0

p, ul, ol, pre, table, blockquote
  margin-top: 0
  margin-bottom: 1.3125em

ul ul, ol ol, ul ol, ol ul
  margin-top: 0
  margin-bottom: 0

/* Let's make sure all's aligned */
hr
  border: 1px solid
  margin: -1px 0

a, b, i, strong, em, small, code
  line-height: 0

sub, sup
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em


// Extra classes
p.big
  font-size: 19px
