/* Chat bubble question  SASS document */


@import ../../base/variables


.chat-bubble.chat-bubble-question
  align-self: flex-start

  .chat-item:first-child
    border-radius: 0 $chat-bubble-radius 0 0

  .chat-item:last-child
    border-radius: 0 0 $chat-bubble-radius $chat-bubble-radius

  .chat-item:only-child
    border-radius: 0 $chat-bubble-radius $chat-bubble-radius $chat-bubble-radius