/* Chat bubble question  SASS document */


@import ../../base/variables


.chat-bubble.chat-bubble-answer
  align-self: flex-end

  .chat-item
    background-color: transparent
    color: $color-main
    border: solid 1px $color-main

  .chat-item.selected
    background-color: $color-main
    color: white

  .chat-item:first-child
    border-radius: $chat-bubble-radius $chat-bubble-radius 0 0

  .chat-item:last-child
    border-radius: 0 0 0 $chat-bubble-radius

  .chat-item:only-child
    border-radius: $chat-bubble-radius $chat-bubble-radius 0 $chat-bubble-radius

  &:last-child
    margin-bottom: 30px // separates nicely the dialog thead between questions and answers