<template>
  <div id="app">
    <div class="work-area">
      <MenuBar/>
      <TextEditor/>
    </div>
    <PanelContainer/>
  </div>
</template>

<script>
  import MenuBar from './components/MenuBar'
  import PanelContainer from './components/PanelContainer'
  import TextEditor from './components/TextEditor'

  export default {
    components: {
      MenuBar,
      PanelContainer,
      TextEditor
    },
    name: 'App',
  }
</script>

<style src="./sass/style.sass" lang="sass"></style>
