/* Menu bar SASS document */


@import ../base/variables


.menu-bar
  flex-shrink: 0
  display: flex
  justify-content: center
  align-items: center
  height: 100px
  color: $color-ui-text
  transition: all 0.4s ease-in-out

.shrink
  height: 70px
