/* Option panel SASS document */


@import ../base/variables


$color-ui-background: #EBEBEB


.panel
  display: flex
  width: 320px
  flex-direction: column
  background-color: white
  border-left: solid 1px $color-ui-background

  // Phablet
  @media ($bp-larger-than-mobile)
    width: 50%

  // Tablet
  @media ($bp-larger-than-phablet)
    width: 320px
