/* Content SASS document */


@import ../base/variables

.text-editor
  overflow: scroll
  width: 100%
  margin: 0 auto

  .page
    box-sizing: border-box
    padding: 20px 10% 


  // Desktop
  @media ($bp-larger-than-tablet)
    max-width: 720px

    .page
      padding: 40px 74px



